body{
	font-family:monospace;
	font-size:20px;
	margin:0px;
	padding:0px;
}

@font-face{
	font-family:my_font;
	src:url(/home/kare/Downloads/JetBrainsMonoNLNerdFont-Regular.ttf)
	
}

header{
	background-color:#4169E1;
	padding:20px;
	text-align:center;
	color:white;
	height:49px;
	align-content:center;
}

nav{
	background-color:#0047AB;
	padding:10px;

	
}

nav ul {
	display:flex;
	justify-content:space-around;
	color:white;

}

nav ul li{
	list-style:none;
}

a{
	text-decoration:none;
	color:white;
}


section{
	display:flex;
	height:700px;
}

.main{
	background-color:#16A2C5;
	width:71%;
	padding:20px;
	text-align:center;
	color:white;
	align-content:center;
}

.aside{
	background-color:#5275AD;
	width:29%;
	padding:20px;
	text-align:center;
	color:white;
	align-content:center;
}

footer{
	background-color:#87CEEB;
	padding:10px;
	text-align:center;
	color:white;
	height:63px;
	align-content:center;
}

@media screen and (max-width:500px) {
	nav ul{
		display:flex;
		justify-content:space-around;
		padding:0px;
	}
	nav ul li{
		font-size:17px;
	}
	section{
		flex-direction:column;
	}
	.main{
		width:90%;
		order:1;
		min-height:596px;
	}
	.aside{
		width:90%;
		order:2;
	}
}