/*body{
	font-family:Helvetica;
	font-size:20px;
	margin:0px;
	padding:0px;
}

header{
	background-color:#4169E1;
	padding:20px;
	text-align:center;
	color:white;
}

nav{
	background-color:#0047AB;
	padding:20px;
	text-align:center;
	color:white;
}

section{
	display:flex;
	height:500px;
}

.main{
	background-color:#16A2C5;
	width:71%;
	padding:20px;
	text-align:center;
	color:white;
}

.aside{
	background-color:#5275AD;
	width:29%;
	padding:20px;
	text-align:center;
	color:white;
}

footer{
	background-color:#87CEEB;
	padding:20px;
	text-align:center;
	color:white;
}

/*@media screen and(max-width:600px){
	section{
		flex-direction:column
	}

	.main{
		width:96%;
		order:2;
	}

	.sidebar{
		width:96%;
		order:1;
	}
}
*/
